    <div class="hero-2" style="background-image: url('assets/images/grapewine.jpg'); height:300px;">
      <div class="container">
        <div class=" row justify-content-center text-center align-items-center" >
           <h2 style="font-family: fantasy; color:lightcoral"> Welcome Wine Divine</h2><br>
           <h1 style="color:rgb(161, 120, 120);font-family:cursive; font-size: 4rem;">Discover your favorite wine</h1>
          
        </div>
      </div>
     </div>

    <div class="site-section py-5 custom-border-bottom" >
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-6">
              <div class="block-16">
                <figure data-aos="fade-right" >
                  <img src="assets/images/wineglass.jpg" alt="Image placeholder" class="img-fluid">
                </figure>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="" data-aos="fade-left" >
                <h1 style="color:rgb(81, 46, 109);font-family:cursive;">Are you having trouble to select the wine? Tell us the description of your favorite wine!</h1>
              </div>
              <form [formGroup]="descriptionForm" (ngSubmit)="onSubmit()">
                <textarea type="text" class="au-input au-input-xl form-control" name="search" formControlName="description" required placeholder="I love sweet and fruity wine" style="height:225px;width:400px;"></textarea>
                <div *ngIf="descriptionForm.get('description').invalid && (descriptionForm.get('description').dirty || descriptionForm.get('description').touched)"
    class="alert alert-danger">
                <div *ngIf="descriptionForm.get('description').errors.required">
                  description is required
              </div>
              <div *ngIf="descriptionForm.get('description').errors.maxlength">
                description cannot exceed 200 characters long.
            </div>
            </div>
                <button type="submit" class="btn" style="color:mediumorchid">Send</button>
                </form>
            </div>
          </div>
        </div>
      </div>
<div class="site-section bg-light">
  
  <div *ngIf="isSubmitted && !isSuccessful" class="text-center">
  <h1  > Sorry, could you give more description of your favorite wine</h1>
  <p>For example: I love sweet and fruity wine!</p>
</div>
  <div class="container" *ngIf="wines!= undefined">
    <h1 class="text-center"> Here are what we have found for you! </h1>
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
              [animation]="'slide'" >
  <mdb-carousel-item *ngFor="let item of slides; let i = index">
    <div class="col-md-4" *ngFor="let card of item; let cardIndex = index">
      <blockquote class="testimony">
      <mdb-card class="my-1" style="height: 500px; width:300px;background:rgb(233, 229, 236)">
        <mdb-card-img *ngIf="card.variety.winetype==='Red Wine' " src="assets/images/wine_1.png" alt="Image" ></mdb-card-img>
        <mdb-card-img *ngIf="card.variety.winetype==='White Wine' " src="assets/images/wine_2.png" alt="Image" ></mdb-card-img>
        <mdb-card-img img *ngIf="card.variety.winetype==='Rosé Wine' || card.variety.winetype==='Champagne' " src="assets/images/wine_3.png" alt="Image"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <p>{{card.title}}</p>
          </mdb-card-title>
          <h4>{{card.description}}</h4>
          <p class="price">{{ card.price | currency:'USD' }}</p>
          <a routerLink="/shop/{{ card.id }}" routerLinkActive="active-link" mdbBtn class="waves-light" mdbWavesEffect style="position: absolute; bottom:0; right:25%;color: mediumpurple;"> Detail</a>
        </mdb-card-body>
      </mdb-card>
    </blockquote>
    </div>
   
  </mdb-carousel-item>
</mdb-carousel>
  </div>
</div>
<div class="col-12 section-title text-center mb-5">
  <h2 class="d-block">Our Products</h2>
  <p><a routerLink="/shop">View All Products <span class="icon-long-arrow-right"></span></a></p>
</div>
<app-twitter></app-twitter>


